body{
    color: #333;
}

body,a{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.container{
    width: 1130px;
    margin: 0 auto;
}
.container::before , .container::after, .clearfix::before, .clearfix::after {
    content: "";
    display: table;
}
.container::after, .clearfix::after {
    clear: both;
}
.logo a {
    display: block;
    width: 200px;
    height: 98px;
}
.panel {
    height: 588px;
}
.panel-layout{
    width: 410px;
    min-height: 400px;
    background: white;
    
    margin-left: 350px;
}
.loginCount{
    display: none;
}

.panel-tabs {
    padding: 27px 0 24px;
    text-align: center;
    font-size: 24px;
    color: #e0e0e0;
}
.panel-tabs .select{
    color: #007acc;
}
.panel-tabs .line{
    width: 1px;
    height: 24px;
    margin: 0 35px 0 42px;
    border: 1px solid #e0e0e0;
}
.tabs-link {
    padding: 27px 0 24px;
    text-align: center;
    font-size: 24px;
    color: #666;
}

.panel-account {
    width: 348px;
    margin: 0 auto;
    margin-top: 10px;
}
.account-item {
    width: 306px;
    height: 50px;
    line-height: 22px;
    padding: 13px 16px 13px 14px;
    display: block;
    outline: 0;
    color: #333;
    box-sizing: border-box;
    border: 1px solid #e0e0e0;
}
.account-label{
    margin-bottom: 14px;
    
    outline: 0 none;
    display: -webkit-box;
}
.panel-account .btn {
    background-color: #007acc;
    width: 100%;
    height: 50px;
    line-height: 50px;
    display: block;
    margin-bottom: 14px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
    border: 0;
    outline: 0;
}
.panel-account .login-help {
    padding-top: 10px;
    line-height: 35px;
    height: 35px;
}
.login-count{
    display: none;
}
.panel-account .login-help .login-switch {
    float: left;
    text-decoration: none;
}
.panel-account .login-help .forget-password {
    float: right;
}
.panel-account .login-submit {
    display: block;
    width: 310px;
    line-height: 40px;
    margin: 0 auto;
    background: #007acc;
    border-radius: 2px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    color: #fff;
}
.login-qq{
    margin-left: 70px;
    margin-top: 10px;
}
.login-qq img{
    width: 30px;
    height: 30px;
    margin-top: 5px;
}
.panel-login{
    display: none;
}
.panel-iphone .iphone-yanzheng{
    width: 200px;
}
.houqu-yanzheng{
    width: 100px;
    background: #e0e0e0;
    border: none;
    height: 50px;
    margin-left: 6px;   
    outline: none;
    cursor: pointer;
}